@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



        .profile-container {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .profile-header {
            display: flex;
            align-items: center;
        }

        .profile-header img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        .profile-info {
            flex: 1;
        }

        .profile-info h1 {
            margin: 0;
            font-size: 24px;
        }

        .profile-info p {
            margin: 5px 0;
        }

        .rating {
            display: flex;
            align-items: center;
        }

        .rating span {
            margin-left: 5px;
        }

        .services,
        .reviews {
            margin-top: 20px;
        }

        .services {
            display: flex;
            justify-content: space-between;
        }

        .services div {
            flex: 1;
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .services div:last-child {
            margin-right: 0;
        }

        .reviews div {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .review-header {
            display: flex;
            align-items: center;
        }

        .userIcon {
            border-radius: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-size: 25px;
            margin-right: 10px;
        }

        .review-content {
            margin-top: 10px;
        }

        .review-header h3 {
            margin: 0;
        }

        .review-header .stars {
            margin-left: auto;
            display: flex;

        }

        .review-header .stars span {
            margin-left: 5px;
        }


        @media (max-width: 600px) {
            .services {
                flex-direction: column;
            }

            .services div {
                margin-right: 0;
                margin-bottom: 10px;
            }

            .services div:last-child {
                margin-bottom: 0;
            }
        }