.skilledProfile {
  border: solid 1px black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.worker-routing-user-conatiner {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  top: 60%;
  z-index: 9999;

  min-height: 40%;
  box-shadow: 0px 4px 8px 0px;
  width: 100%;
}

.worker-navigation-phone-icon {
  margin-top: 15px;
}

.routing-profile-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.commander-name-container {
  display: flex;
  align-self: center;
}

.commander-name {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22.8571px;
  color: rgb(51, 51, 51);
}

.pin-container {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.pin-head {
  font-weight: bold;
}

.commander-count {
  padding: 10px;
}

.user-commander-cancelButton-container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.message-box-user-navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 25px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 1000;
  animation: fadeInOut 3s forwards;
}

.user-commander-cancelButton {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 12px;
}

.pin-call-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navigationMainContainer {
    margin-left: 10%;
    margin-right: 10%;
  }
  .worker-routing-user-conatiner {
    width: 80%;
    top: 65%;
    min-height: 35vh;
  }
  .pin-call-container {
    justify-content: space-around;
  }
  .commander-count {
    text-align: center;
  }
}
