.suggestion-item {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.suggestionImage {
  height: 90px;
  width: 120px;
  border-radius: 5px;
}

.suggestionNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestionName {
  display: flex;
  align-self: center;
}
