@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.otpMainContainer {
  max-height: 100vh;
  padding: 15px;
}

.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;

  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
}

.Verificationtext {
  margin-bottom: 20px;
  font-size: 18px;
}

.otp-image {
  margin-bottom: 90px;
}

.otpTextMobile {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.otp-inputs1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

.otp-inputs1 input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  outline: none;
  transition: border-color 0.3s;
}

.otp-inputs1 input:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #007bff;
}

.mainOtpContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn-otp {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 250px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.fileICon {
  font-size: 60px;
}

.otpTextMedium{
  display: none;
}

@media (min-width:600px){
  .otpMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  .container1{
    box-shadow: 0px 4px 8px 0px;
  }
  .otpTextMobile{
    display: none;
  }
  .otpTextMedium{
    display: block;
  }
}