.cleaning {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 250px;
  /* Enable smooth scrolling for iOS */

  /* To ensure space for the horizontal scrollbar */
}

@media screen and (min-width: 768px) {
  .cleaning {
    height: 300px;
  }
}
