.doublecards {
  display: flex;
  flex-direction: column;
  gap: 43px;
  transition: opacity 0.3s ease;
}

.serviceHeader {
  font-size: 22px;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  padding-top: 10px;

  color: rgb(15, 15, 15);
}

#electrician {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 500px;
  /* Enable smooth scrolling for iOS */
  padding-bottom: 20px;
  /* To ensure space for the horizontal scrollbar */
  overflow-y: hidden;
}
/* Add transition property for messageContainer */
.messageContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: white;
  transition: transform 0.8s ease; /* Transition for transform property */
  z-index: 9999;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Show the message box when active */
.messageContainer.active {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .messageContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 34%;
    left: 33%;
    height: 85%;
    background-color: white;
    transition: transform 0.8s ease; /* Transition for transform property */
    z-index: 9999;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /* Show the message box when active */
  .messageContainer.active {
    transform: translateY(0);
  }
}
