.mechanic {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Enable smooth scrolling for iOS */
  padding-bottom: 10px;
  /* To ensure space for the horizontal scrollbar */
}

@media screen and (min-width: 768px) {
  .mechanic {
    height: 250px;
  }
}
