.bookingHistoryContainer {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 88vh;
}

.bookingHistoryContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #09090bc8;
}

.profileBooking{ 
    display: flex;
    gap: 10px;
}

.profile-booking{
    background-color: transparent;
    border: solid 1px #DDDDDD;
  }

.filter {
    margin-bottom: 20px;
}

.filter button {
    background-color: transparent;
    color: black;
    border: solid 1px #DDDDDD;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.filter button i {
    margin-right: 10px; /* add some space between the icon and the text */
    font-size: 16px; /* adjust the icon size */
    vertical-align: middle; /* align the icon with the text */
  }

.filter button:hover {
    background-color: #d0d0d0;
}

.bookings {
    margin-bottom: 30px;
}

.booking {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.details {
    flex-grow: 1;
}

.ruppesAmount{
    font-weight: bold;
}

.mainBookingContainer{
    min-height: 100vh;
}

.details h2 {
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: bold;
    color: #09090B;
}

.rupeesAmount{
    color: #09090B;
    font-weight: bold;
}

.workerName{
    color: #09090B;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.status {
    text-align: right;
}

.status span {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.completed {
    background-color: #F4F4F5;
}

.cancelled {
    background-color: #f44336;
}

.pending {
    background-color: #ff9800;
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f1f1f1;
    border-color: #007bff;
}

.bookingCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.amountDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive */
@media (min-width: 600px) {
    .bookingHistoryContainer {
        padding-left: 10%;
        padding-right: 10%;
    }   
}

@media (max-width: 600px) {
    .bookingHistoryContainer {
        padding: 15px;
    }

    .status {
        text-align: left;
        margin-top: 10px;
    }
    .pagination a {
        padding: 5px;
        margin: 0 2px;
    }
}
