.accept-main-container{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.ride-request {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.ride-request h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.ride-request .info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ride-request .info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.ride-request .info div {
    text-align: left;
}

.ride-request .info div p {
    margin: 0;
}

.ride-request .location {
    margin: 10px 0;
}

.ride-request .location p {
    margin: 0;
    font-weight: bold;
}

.ride-request .location span {
    color: #777;
}

.ride-request .estimate {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.ride-request .estimate div {
    width: 100%;
    margin-bottom: 10px;
}

.ride-request .estimate div p {
    margin: 0;
}

.ride-request .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ride-request .buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.ride-request .buttons .decline {
    background-color: transparent;
    border: solid 1px #E4E4E7;
}

.ride-request .buttons .accept {
    background-color: #000;
    color: white;
}

@media (min-width: 480px) {

    .ride-request .estimate div,
    .ride-request .buttons button {
        width: 48%;
        margin-bottom: 0;
    }
}