.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    display: none; /* Hide by default */
  }
  
  .nav-item {
    text-align: center;
    color: #000000;
    text-decoration: none;
    flex-grow: 1;
  }
  
  .nav-item span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }
  
  .nav-item .fa-icon {
    font-size: 20px;
  }
  
  .nav-item:focus,
  .nav-item:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: flex; /* Show navbar on small screens */
    }
  }
  