.feedback-main-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
  }
  
  .feedback-container {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;

  }
  
  .feedback-container h2 {
    margin-bottom: 10px;
    color: #09090B;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
  }
  
  .feedback-container p {
    margin-bottom: 20px;
    color: #777;
  }
  
  .feedback-container form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #09090B;
  }
  
  .feedback-container label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
  }
  
  .feedback-container input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    max-width: 350px;
  }
  
  .feedback-container textarea {
    resize: none;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .feedback-container button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    max-width: 350px;
    margin-top: 45px;
  }
  
  .feedback-body {
    padding: 20px;
  }
  
  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    position: sticky;
    top: 0;
    border: 1px solid #EDEDED;
  }
  
  .navbarUser {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .navbarUser-left h1 {
    margin: 0;
  }
  
  .navbarUser-right {
    position: relative;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 9999;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu ul li {
    padding: 10px 20px;
  }
  
  .dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu ul li a:hover {
    background-color: #f0f0f0;
  }
  
  .textareaComment::placeholder {
    font-family: Arial, sans-serif;
  }
  
  .stars {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .star {
    font-size: 35px;
    color: #ccc;
    cursor: pointer;
    margin: 0 2px;
  }
  
  .star.selected {
    color: #18181bcb;
  }
  
  .star.hovered {
    color: #18181B;
  }
  
  .rating-label {
    margin-top: 20px;
  }
  
  #rating-text {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  @media screen and (min-width: 768px) {
    .feedback-body {
      padding: 50px;
    }
    .feedback-main-container {
      align-items: center;
      height: 100vh;
    }
    .feedback-container {
      border: 1px solid #EDEDED;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  
  .dropdown-menu.show {
    display: block;
  }
  